<a href="https://colab.research.google.com/github/Samridhirawat/py-code/blob/main/py_Codes_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Assignment**
---------------------------------------------------------------------------
Q1. L is a list defined as L= [11, 12, 13, 14].

In [52]:
#(i)WAP to add 50 and 60 to L.
L=[11,12,13]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 50, 60]

In [13]:
#(ii)WAP to remove 11 and 13from L.
L=[11, 12, 13, 50, 60]
L.remove(12)
print(L)

[11, 13, 50, 60]

In [14]:
#(iii)WAP to sort L in ascending order.
L=[11, 12, 13, 50, 60]
L.sort()
print(L)

[11, 12, 13, 50, 60]

In [15]:
#(iv)WAP to sort L in descending order.
L=[11, 12, 13, 50, 60]
L.sort(reverse=True)
print(L)

[60, 50, 13, 12, 11]

In [16]:
#(v)WAP to search for 13 in L.
L=[11, 12, 13, 50, 60]
print(13 in L)

True

In [17]:
#(vi)WAP to count the number of elements present in L.
L=[11, 12, 13, 50, 60]
print(len(L))

5

In [18]:
#(vii)WAP to sum all the elements in L.
L=[11, 12, 13, 50, 60]
sum=0
for i in L:
  sum+=i
print(sum)

146

In [19]:
#(viii)WAP to sum all ODD numbers in L.
L=[11, 12, 13, 50, 60]
sum=0
for i in L:
  if i%2 != 0:
    sum+=i
  else:
    continue
print(sum)

24

In [20]:
#(ix)WAP to sum all EVEN numbers in L.
L=[11, 12, 13, 50, 60]
sum=0
for i in L:
  if i%2 == 0:
    sum+=i
  else:
    continue
print(sum)

122

In [22]:
#(x) WAP to sum all PRIME numbers in L.
L = [11, 12, 13, 50, 60]
prime_sum = 0

for num in L:
    if num > 1:
        is_prime = True
        for i in range(2, num // 2 + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_sum += num

print(prime_sum)

24

In [53]:
#(xii) WAP to clear all the elements in L.
L=[11, 12, 13, 50, 60]
L.clear()
print(L)

[]

# **Data Structure-Dictionary**
Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

In [25]:
#(i) WAP to add new entry in D; key=8 and value is 8.8
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

In [27]:
#(ii) WAP to remove key=2.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [28]:
#(iii) WAP to check whether 6 key is present in D.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(6 in D)

False

In [29]:
#(iv) WAP to count the number of elements present in D.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
len(D)

5

In [32]:
#(vi) WAP to update the value of 3 to 7.1.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3]=7.1
print(D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [33]:
#(vii) WAP to clear the dictionary.
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D.clear()
print ("After Clear --> ",D)

After Clear -->  {}

# **Data Structure - Set**

*   Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
*   S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

In [34]:
#(i) WAP to add 55 and 66 in Set S1.
S1 = set(["10", "20", "30", "40", "50", "60"])
S1.add(55)
S1.add(66)
print ("Set After Adding (55 & 66) --> ", S1)

Set After Adding (55 & 66) -->  {66, '20', '40', '30', '10', 55, '50', '60'}

In [35]:
#(ii) WAP to remove 10 and 30 from Set S1.
S1 = set(['10', '20', 30, '40', '50', '60'])
S1.remove('10')
S1.remove(30)
print ("Set After removing (10 & 30) --> ", S1)

Set After removing (10 & 30) -->  {'20', '40', '50', '60'}

In [36]:
#(iii) WAP to check whether 40 is present in S1.
S1 = set([10, 20, 30, 40, 50, 60])
print(40 in S1)

True

In [37]:
#(iv) WAP to find the union between S1 and S2.
S1 = set(["10", "20", "30", "40", "50", "60"])
S2 = set(["40", '50', '60', '70', '80', "90"])
print ("Original set S1      --> ", S1)
print ("Original set S2      --> ", S2)
print ("Union of S1 and S2    --> ", S1.union(S2))

Original set S1      -->  {'20', '40', '30', '10', '50', '60'}
Original set S2      -->  {'70', '40', '90', '80', '50', '60'}
Union of S1 and S2    -->  {'70', '20', '40', '90', '80', '30', '10', '50', '60'}

In [38]:
#(v) WAP to find the intersection between S1 and S2.
S1 = set(["10", "20", "30", "40", "50", "60"])
S2 = set(["40", '50', '60', '70', '80', "90"])
print ("Original set S1      --> ", S1)
print ("Original set S2      --> ", S2)
print ("Union of S1 and S2    --> ", S1.intersection(S2))
print ("Union of S1 and S2    --> ", S2.intersection(S1))

Original set S1      -->  {'20', '40', '30', '10', '50', '60'}
Original set S2      -->  {'70', '40', '90', '80', '50', '60'}
Union of S1 and S2    -->  {'50', '60', '40'}
Union of S1 and S2    -->  {'50', '60', '40'}

In [39]:
#(vi) WAP to find the S1 - S2.
S1 = set(["10", "20", "30", "40", "50", "60"])
S2 = set(["40", '50', '60', '70', '80', "90"])
print ("Original set S1      --> ", S1)
print ("Original set S2      --> ", S2)
print ("S1 - S2   --> ", S1-S2 )

Original set S1      -->  {'20', '40', '30', '10', '50', '60'}
Original set S2      -->  {'70', '40', '90', '80', '50', '60'}
S1 - S2   -->  {'20', '30', '10'}

# **Additional**
Q4. Write the following program.
* (i) WAP to print 100 random strings whose length between 6 and 8.

In [40]:
import random as r
import string as s
for i in range(100):
  val="".join(r.sample(s.ascii_letters,r.randint(6,8)))
  print(val)

qSfIay
dlzSncky
IWwvSD
JiLnVsR
mHBseEY
hwLONpK
AVXaTEvs
vUmocl
OqAVtBR
pjbIUnim
xIMbaRu
FOkmiI
uIhrCvl
bKmGsx
qdFhIm
fYoPUV
Sgciyj
QdOlzqGL
aIvUBMKw
QHOLjhlI
xGbXvp
LRTqniQ
VJcpBDkL
sTCNtmbO
jeEfDVu
GFyikRup
OIXUSnAr
jAPSulH
VaGXNM
jxlqDi
hTpAPUQ
ERSBUP
NeJGvIQb
Egujkmr
GcBQbR
ZthmyR
KcyqUv
qGjLgk
wEytspI
CxBNzyor
QHtqol
oXNJZYw
zvyheko
PzgirHG
ucMJwBR
JZfhUpNm
mdFcpva
IeENkqFU
rPGHwAkd
LHGfZl
KvPMJF
DFmPiuJ
BUbCvJ
WMekXyp
VerIQlHE
CrkKJyXE
yepQZM
kzqmVhUn
HpBctSi
hyWOCr
JsfYnWlo
XCxYgSR
QbSRpYN
pTfbNrLZ
gyEreMN
ufBwGszd
LNSIaYfg
kNtlyxv
cPyOIVK
lOqRVrU
OHqYGeIP
eEwpIguZ
hOMuTXBw
SugXHi
BydmaXU
qfRLXz
Sbijkt
EZjTOed
Yfomat
kgFOZv
aeCSKs
lcuTbWe
mvhUrP
kXphjFSV
oCHzWhNb
TtDncm
sgAaWh
CbgfGxq
MyYWQk
CSfRgFu
ZnTQxqkw
NvelEqa
sfMXWhK
mNdXiyIk
xvbuqB
oasQWUOh
koLKOt
XjyKEf
gPmbhJ
KBhJoM

Q.4.(ii) WAP to print all prime numbers between 600 and 800.

In [41]:
print("Prime numbers between 600 and 800:")
for num in range(600,801):
  for i in range(2,int(num//2+1)):
    if (num%i)==0:
        break
  else:
        print(num)

Prime numbers between 600 and 800:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

Q.4.(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [42]:
for num in range(100,1001):
  if num%7==0 and num%9==0:
    print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find -

*   Common numbers in the two lists
*   Unique numbers in both the list
*   Minimum in both the list
*  Maximum in both the list
*   Sum of both the lists

In [43]:
L1=[]
L2=[]
for i in range(11):
  num=r.randint(10,30)
  n=r.randint(10,30)
  L1.append(num)
  L2.append(n)
print(L1)
print(L2)

[22, 20, 19, 21, 29, 24, 11, 17, 10, 10, 28]
[26, 12, 26, 15, 14, 27, 10, 18, 13, 29, 18]

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
*    (i) All odd numbers
*(ii) All even numbers
*(iii) All prime numbers

In [44]:
import random as r
l=[]
l1=[]
l2=[]
l3=[]

for i in range(0,101):
  n=r.randint(100,900)
  l.append(n)

for i in range(0,101):
   if i%2 !=0:
     l1.append(i)

for i in range(0,101):
   if i%2 ==0:
     l2.append(i)

for i in range(2,n//2+1):
  if n%i !=0:
    l3.append(i)

print("List of 100 random numbers between 100 and 900 : ",l)
print("All odd numbers : ",l1)
print("All even numbers : ",l2)
print("All prime numbers : ",l3)

List of 100 random numbers between 100 and 900 :  [667, 521, 694, 398, 699, 726, 666, 465, 440, 700, 170, 627, 858, 608, 858, 569, 242, 247, 420, 647, 648, 597, 189, 805, 664, 450, 334, 305, 689, 562, 692, 440, 351, 609, 265, 124, 697, 518, 117, 422, 877, 235, 324, 398, 185, 854, 106, 168, 720, 561, 703, 211, 520, 445, 443, 172, 104, 407, 716, 172, 681, 146, 794, 741, 288, 892, 686, 273, 536, 192, 435, 108, 287, 896, 733, 214, 489, 724, 741, 280, 519, 564, 460, 299, 648, 622, 224, 574, 459, 416, 162, 594, 651, 184, 897, 268, 395, 694, 719, 856, 670]
All odd numbers :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
All even numbers :  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
All prime numbers :  [3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334]

In [45]:
print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.

*  Key1, Value1
*   Key2, Value2
*  Key3, Value3

In [46]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

# Open a file in write mode
with open("output.txt", "w") as file:
    # Iterate through the dictionary
    for key, value in D.items():
        # Write key-value pairs to the file
        file.write(f"{key}, {value}\n")
# Read from file
with open("output.txt", "r") as file:
    for line in file:
        # Split the line into key and value
        key, value = line.strip().split(", ")
        print(f"Key: {key}, Value: {value}")

Key: 1, Value: One
Key: 2, Value: Two
Key: 3, Value: Three
Key: 4, Value: Four
Key: 5, Value: Five

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
* WAP to count the length of reach element from a list and write to the file in the given below format:
--->One, 3
--->Two, 3
--->Four, 4

In [47]:
L=["One","Two","Three","Four","Five"]
for i in L:
  print("--> ",i," , ",len(i))

-->  One  ,  3
-->  Two  ,  3
-->  Three  ,  5
-->  Four  ,  4
-->  Five  ,  4

Q11. WAP to calculate the time taken by a program.

In [48]:
import time
start_time=time.time()
def add():
  num1=121
  num2=576
  sum=num1+num2
  return sum
end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken by the program: {elapsed_time} seconds")
print(start_time)

Time taken by the program: 0.0001728534698486328 seconds
1720337650.2720292

#**Challenge Question**

In [49]:
# Write a python program to sort the list of heterogeneous data.
L = ["Ram", "1", "Shyam", "2", "Aman", "3"] #All the data should be of same type(i.e. string in this case) in order to  sort it.
print("Before sorting :",L)
L.sort()
print("After sorting : ",L)

Before sorting : ['Ram', '1', 'Shyam', '2', 'Aman', '3']
After sorting :  ['1', '2', '3', 'Aman', 'Ram', 'Shyam']